body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center
}

.boid-canvas {
    width: 90%;
    height: 55%;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boid {
    font-size: 0.7rem;
    width: fit-content;
}

.thing {
    color: blue;
}

@media  screen and (min-width: 768px) {
    /* Header */
    body{
        background-color: red;
    }
}